<!DOCTYPE html>
{% extends "index.html" %}

{% block title %}Your TrainWeb ~ Account{% endblock %}

{% block content %}
    <h1>Your TrainWeb Account</h1>
    <p>Welcome to the nerve centre of your TrainWeb account; from here you can manage your login credentials or update your personal information.</p>
    <p>The form below will require you to be logged in to manage your account.</p>
    <br/>
    <div id="accountContainer"></div><br/>
    <div id="mainAdminContainer"></div>
    <script src="{{ url_for('static', path='/js/account.js') }}"></script>
{% endblock %}